<h2>Articles</h2>

<%= for article <- @articles do %>
<div class="article">
  <h3><%= article.title %></h3>
  <p>
    <%= article.content %>
  </p>
  <p><%= article.view_count %></p>
</div>
<% end %>
